/*

Random Access Music
Navbar style sheet

*/

#nav_ele:hover {
	 border-top: white solid 2px;
}


#nav_search {

	border-color: teal;
	color: teal;
}

#nav_search:hover {

	background-color: teal;
	color: white;
}

#navbarDropdown:hover {
	 border-top: white solid 2px;
}

#nav_login {

	border-color: green;
	color: green;
	margin-left: 5px;
}

#nav_login:hover {

	background-color: green;
	color: white;
}
