/*
Random Access Music
Write Review page CSS
*/

body {
	background-color: #c0c1c4;
}
h1 {
	text-align: right;
	padding-right: 75px;

}
#aboutDiv1 {
	margin-top:10px;
}

#aboutDiv2 {
	border-left: solid black 2px;
	margin-top: 10px;

}

#aboutCol {

	margin: 10px;
}

#searchButton {
	background-color: teal;
	border: none;
}
.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
